Repository zgid123/rails-boilerplate: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, rubocop

eslint:
  run: pnpm eslint {staged_files}

prettier:
  run: pnpm prettier --write {staged_files}

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}

auto add/remove import gem when creating/removing package
  .rubocop.yml
  lib/generators/package/package_generator.rb
Due: rubocop

add generator to integrate vite for rails app
  README.md
  lib/generators/vite/USAGE
  lib/generators/vite/code_template.rb
  lib/generators/vite/helper.rb
  lib/generators/vite/templates/.eslintrc.json.tt
  lib/generators/vite/templates/app/frontend/entrypoints/application.ts
  lib/generators/vite/templates/app/frontend/entrypoints/styles.scss
  lib/generators/vite/templates/application.html.erb.tt
  lib/generators/vite/templates/application_helper.rb.tt
  lib/generators/vite/templates/package.json.tt
  lib/generators/vite/templates/tsconfig.json.tt
  lib/generators/vite/templates/vite.config.ts.tt
  lib/generators/vite/templates/vite.json.tt
  lib/generators/vite/vite_generator.rb
  lib/package_helper.rb
Due: eslint, prettier, rubocop

refactor package generator and cli
  lib/generators/package/helper.rb
  lib/generators/package/package_generator.rb
  lib/tasks/cli/db.rake
Due: rubocop

add turborepo for running multiple vite servers
  README.md
  package.json
  pnpm-lock.yaml
  turbo.json
Due: none

add logic to integrate vite for root app
  README.md
  lib/generators/vite/helper.rb
  lib/generators/vite/templates/bin/vite.tt
  lib/generators/vite/vite_generator.rb
  packages/auth/Gemfile
Due: rubocop

add tailwind generator to integrate tailwindcss to rails app
  lib/generators/tailwind/USAGE
  lib/generators/tailwind/code_template.rb
  lib/generators/tailwind/helper.rb
  lib/generators/tailwind/tailwind_generator.rb
  lib/generators/tailwind/templates/app/frontend/styles/tailwind.scss.tt
  lib/generators/tailwind/templates/postcss.config.ts.tt
  lib/generators/tailwind/templates/tailwind.config.js.tt
  lib/generators/vite/helper.rb
  lib/package_helper.rb
  package.json
  packages/auth/package.json
  pnpm-lock.yaml
Due: rubocop

refactor code for all generators
  .rubocop.yml
  lib/generator_helpers/content_helper.rb
  lib/generator_helpers/env_helper.rb
  lib/generator_helpers/file_helper.rb
  lib/generator_helpers/package_helper.rb
  lib/generator_helpers/vite_helper.rb
  lib/generators/package/constant.rb
  lib/generators/package/helper.rb
  lib/generators/package/package_generator.rb
  lib/generators/tailwind/constant.rb
  lib/generators/tailwind/helper.rb
  lib/generators/tailwind/tailwind_generator.rb
  lib/generators/vite/code_template.rb
  lib/generators/vite/constant.rb
  lib/generators/vite/helper.rb
  lib/generators/vite/templates/vite.json.tt
  lib/generators/vite/vite_generator.rb
  lib/package_helper.rb
  lib/tasks/cli/db.rake
Due: rubocop

remove unnecessary plugins for tailwind
  lib/generators/tailwind/constant.rb
  lib/generators/tailwind/templates/tailwind.config.js.tt
Due: rubocop

add pagy for core pacakge
  packages/core/Gemfile.lock
  packages/core/app/controllers/core/api_controller.rb
  packages/core/app/controllers/core/application_controller.rb
  packages/core/config/initializers/pagy.rb
  packages/core/core.gemspec
  packages/core/lib/core/engine.rb
Due: rubocop

no need ignore seed files and update setup doc
  .gitignore
  README.md
  db/seed/20230618034551_create_user.rb
Due: rubocop

create ujs_utils generator to integrate @rails/ujs and jquery
  lib/generator_helpers/content_helper.rb
  lib/generators/ujs_utils/USAGE
  lib/generators/ujs_utils/code_template.rb
  lib/generators/ujs_utils/constant.rb
  lib/generators/ujs_utils/helper.rb
  lib/generators/ujs_utils/templates/app/frontend/entrypoints/application.ts.tt
  lib/generators/ujs_utils/ujs_utils_generator.rb
Due: rubocop

create profile api for auth and refactor render_source
  packages/auth/app/controllers/auth/api/v1/auth_controller.rb
  packages/auth/app/controllers/auth/api/v1/base_controller.rb
  packages/auth/app/controllers/auth/api/v1/profile_controller.rb
  packages/auth/app/controllers/auth/application_controller.rb
  packages/auth/app/controllers/auth/sessions_controller.rb
  packages/auth/config/routes.rb
  packages/core/app/controllers/concerns/core/render.rb
Due: rubocop

config bullet to alert N + 1 query
  README.md
  config/environments/development.rb
Due: rubocop

update docs
  README.md
  docs/package.md
  docs/rake-tasks.md
  docs/tailwind.md
  docs/ujs_utils.md
  docs/vite.md
Due: none

create generator to create migration for package without cd to it
  README.md
  docs/migration.md
  lib/generators/package_migration/USAGE
  lib/generators/package_migration/package_migration_generator.rb
Due: rubocop

add option and template for rails generator like normal app
  README.md
  docs/package.md
  lib/generator_helpers/file_helper.rb
  lib/generators/package/constant.rb
  lib/generators/package/helper.rb
  lib/generators/package/package_generator.rb
  lib/generators/package/templates/Gemfile.tt
  lib/generators/package/templates/app/controllers/%package_name%/api/base_controller.rb.tt
  lib/generators/package/templates/app/controllers/%package_name%/application_controller.rb.tt
  lib/generators/package/templates/app/helpers/%package_name%/application_helper.rb.tt
  lib/generators/package/templates/app/views/layouts/%package_name%/application.html.erb.tt
  lib/generators/package/templates/config/routes.rb.tt
Due: rubocop

refactor ujs_utils and vite generators - create vite-env.d.ts for vite's typing - create default setup ts file for ujs_utils usage - add option jquery, stimulus and turbo-rails for ujs_utils generator
  README.md
  lib/generators/ujs_utils/code_template.rb
  lib/generators/ujs_utils/constant.rb
  lib/generators/ujs_utils/helper.rb
  lib/generators/ujs_utils/templates/app/frontend/controllers/index.ts.tt
  lib/generators/ujs_utils/templates/app/frontend/setup/init_jquery.ts.tt
  lib/generators/ujs_utils/templates/app/frontend/setup/init_turbo_rails.ts.tt
  lib/generators/ujs_utils/templates/app/frontend/setup/init_ujs.ts.tt
  lib/generators/ujs_utils/ujs_utils_generator.rb
  lib/generators/vite/constant.rb
  lib/generators/vite/templates/app/frontend/entrypoints/application.ts.tt
  lib/generators/vite/templates/app/frontend/entrypoints/styles.scss
  lib/generators/vite/templates/app/frontend/entrypoints/styles.scss.tt
  lib/generators/vite/templates/app/frontend/setup/index.ts.tt
  lib/generators/vite/templates/types/vite-env.d.ts.tt
Due: rubocop

refactor generators
  lib/generator_helpers/cli_helper.rb
  lib/generators/package/constant.rb
  lib/generators/package/helper.rb
  lib/generators/package/package_generator.rb
  lib/generators/package_migration/package_migration_generator.rb
  lib/generators/tailwind/constant.rb
  lib/generators/tailwind/helper.rb
  lib/generators/tailwind/tailwind_generator.rb
  lib/generators/ujs_utils/constant.rb
  lib/generators/ujs_utils/helper.rb
  lib/generators/ujs_utils/ujs_utils_generator.rb
  lib/generators/vite/constant.rb
  lib/generators/vite/helper.rb
  lib/generators/vite/vite_generator.rb
Due: rubocop

add hmr for stimulus
  README.md
  docs/ujs_utils.md
  lib/generator_helpers/content_helper.rb
  lib/generators/ujs_utils/code_template.rb
  lib/generators/ujs_utils/ujs_utils_generator.rb
Due: rubocop

fix vite and ujs_utils for auth and admin
  package.json
  packages/admin/app/frontend/entrypoints/application.ts
  packages/admin/app/frontend/setup/index.ts
  packages/admin/types/vite-env.d.ts
  packages/auth/app/frontend/entrypoints/application.ts
  packages/auth/app/frontend/setup/index.ts
  packages/auth/app/frontend/setup/init_jquery.ts
  packages/auth/app/frontend/setup/init_ujs.ts
  packages/auth/types/vite-env.d.ts
  pnpm-lock.yaml
Due: eslint, prettier

create base controller for api to init all utils for all versions
  packages/auth/app/controllers/auth/api/base_controller.rb
  packages/auth/app/controllers/auth/api/v1/base_controller.rb
Due: rubocop

update docs and fix concern render from core package
  README.md
  docs/usage.md
  packages/core/app/controllers/concerns/core/render.rb
Due: rubocop

add default settings for vscode
  .vscode/settings.json
Due: none

remove unnecessary gemfile.lock
  packages/auth/Gemfile.lock
  packages/core/Gemfile.lock
Due: none

apply global tailwind style for admin
  packages/admin/app/frontend/entrypoints/styles.scss
  packages/admin/vite.config.ts
Due: eslint, prettier

add rake cli:setup to setup project
  README.md
  lib/tasks/cli/setup.rake
Due: none

Path conditions:
  eslint: any of: *.{ts,tsx}
  prettier: any of: *.{js,ts,jsx,tsx}
  rubocop: any of: *.rb
